In [2]:
if True:
    print("Its's true")

Its's true

In [6]:
if False:
    print("It's false")
else:
    print("Its's true")

Its's true

In [7]:
myList = [1, 2, 3]
for item in myList:
    print(item)

1
2
3

In [11]:
myList = [1, 2, 3, 4, 5, 6, 7, 8, 9]
for item in myList:
    if(item%2 == 0):
        print(f"Even = {item}")
    else:
        print(f"Odd = {item}")

Odd = 1
Even = 2
Odd = 3
Even = 4
Odd = 5
Even = 6
Odd = 7
Even = 8
Odd = 9

In [12]:
for l in 'Hello World':
    print(l)

H
e
l
l
o

W
o
r
l
d

In [13]:
for _ in (1,2,3):
    print('Hello')

Hello
Hello
Hello

In [14]:
for a,b,c in [(1,2,3),(4,5,6)]:
    print(b)

2
5

In [15]:
for item in {'k1':'v1', 'k2':'v2'}:
   print(item)

k1
k2

In [16]:
for k,v in {'k1':'v1', 'k2':'v2'}:
   print(v)

1
2

In [1]:
x = 0
while x < 5:
    print(f'Value of x is {x}')
    x = x + 1;

Value of x is 0
Value of x is 1
Value of x is 2
Value of x is 3
Value of x is 4

In [3]:
x = 0
while x < 5:
    print(f'Value of x is {x}')
    x = x + 1;
else:
    print('Value of x is less than 5')

Value of x is 0
Value of x is 1
Value of x is 2
Value of x is 3
Value of x is 4
Value of x is less than 5

In [6]:
for _ in (1,2,3):
   pass
print('End')

End

In [7]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [8]:
for i,l in enumerate('Hello'):
    print(i)

0
1
2
3
4

In [9]:
list1 = [1,2,3,4,5,6]
list2 = ['a', 'b', 'c', 'd']
list3 = [100, 200]
for tuple in zip(list1, list2, list3):
    print(tuple)

(1, 'a', 100)
(2, 'b', 200)

In [10]:
'a' in 'awefbwhwrke'

True

In [11]:
'k1' in {'k1': 'v1'}

True

In [12]:
d = {'k1': 'v1'}
'k1' in d.keys()

True

In [13]:
d = {'k1': 'v1'}
'v1' in d.values()

True

In [18]:
from random import shuffle
myList = [1,2,3,4,5,6,7,8,9,10]
shuffle(myList)
myList

[8, 5, 1, 10, 6, 9, 4, 3, 2, 7]

In [20]:
from random import randint
randint(0,100)

95

In [21]:
result = input('What is is your favourite number?')

What is is your favourite number?56

In [22]:
result

'56'

In [25]:
type(result)

str

In [26]:
myList = [letter for letter in 'Hello']

In [27]:
myList

['H', 'e', 'l', 'l', 'o']

In [30]:
myList = [num**2 for num in range(0,10)]
myList

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [31]:
myList = [num**2 for num in range(0,10,2)]
myList

[0, 4, 16, 36, 64]

In [35]:
myList = [num for num in range(0,11) if num%2==0]
myList

[0, 2, 4, 6, 8, 10]

In [37]:
myList = [x*y for x in [2,4,6] for y in [4,5,6]]
myList

[8, 10, 12, 16, 20, 24, 24, 30, 36]